<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
    <meta charset="utf-8">
    <title>Hello webpack</title>
</head>
<body>
<h1>Geotag project</h1><br>
<div id="mapid"></div>
<script src="assets/js/commons.js"></script>
<script src="assets/js/index.bundle.js"></script>
</body>
</html>
