@import "@material/drawer/mdc-drawer";


#side-drawer {
  .mdc-drawer-app-content {
    flex: auto;
    position: relative;
  }

  .mdc-drawer__content {
    padding: 20px;
    overflow-y: scroll;
  }

  .goetag-image-list {
    @include mdc-image-list-standard-columns(1);
  }

  .mdc-drawer__title {
    display: inline;
  }

  .side-drawer-arrow-back-button {
    position: relative;
    top: 5px;
  }

  #side-drawer-area-header, #side-drawer-geotag-header {
    display: none;
    padding-bottom: 13px;
  }


  #side-drawer-list {
    overflow: hidden;
    padding: 0;
  }
}